{% extends 'base.html.twig' %}

{% block title %}New Catergory{% endblock %}

{% block body %}
    <h1>Create new Catergory</h1>

    {{ include('catergory/_form.html.twig') }}

    <a href="{{ path('catergory_index') }}">back to list</a>
{% endblock %}
