{% extends 'base.html.twig' %}

{% block title %}New Tijden{% endblock %}

{% block body %}
    <h1>Create new Tijden</h1>

    {{ include('tijden/_form.html.twig') }}

    <a href="{{ path('tijden_index') }}">back to list</a>
{% endblock %}
